name: Generate Snake

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4

      - uses: Platane/snk@v3
        with:
          github_user_name: AmayaPerera
          outputs: |
            github-contribution-grid-snake.svg

      - name: Commit and push snake
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "github-actions@github.com"
          git add github-contribution-grid-snake.svg
          git commit -m "Generate snake" || echo "No changes"
          git push
